{% extends "base.html" %}

{% block content %}

<div class="content" data-name="recommend">
      <div class="row movie-list">
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/mq038">
                        <div class="quality">CAM</div> <a class="poster" href="/film/pet-sematary.mq038"> <img
                                    src="https://static.akacdn.ru/static/images/2019/04/79775866a0fa6a9b3a3582ab066b850f.jpg"
                                    alt="Pet Sematary | Bmovies"> </a> <a class="name"
                              href="/film/pet-sematary.mq038">Pet Sematary</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/woxzo">
                        <div class="quality">HD</div> <a class="poster" href="/film/glass.woxzo"> <img
                                    src="https://static.akacdn.ru/static/images/2019/01/e79fd2e5beadd6290ae58298f982e79e.jpg"
                                    alt="Glass | Bmovies"> </a> <a class="name" href="/film/glass.woxzo">Glass</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/37j72">
                        <div class="quality">CAM</div> <a class="poster" href="/film/unplanned.37j72"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/44e9f737ebbdacf30345500eead0e61e.jpg"
                                    alt="Unplanned | Bmovies"> </a> <a class="name"
                              href="/film/unplanned.37j72">Unplanned</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/4jkjk">
                        <div class="quality">CAM</div> <a class="poster" href="/film/the-beach-bum.4jkjk"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/95caa9a0c3d31f972ca32decdb2d98c8.jpg"
                                    alt="The Beach Bum | Bmovies"> </a> <a class="name"
                              href="/film/the-beach-bum.4jkjk">The Beach Bum</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/8nonn">
                        <div class="quality">CAM</div> <a class="poster" href="/film/dumbo.8nonn"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/44e6904127263531715d9746bc93f8fe.jpg"
                                    alt="Dumbo | Bmovies"> </a> <a class="name" href="/film/dumbo.8nonn">Dumbo</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/1r06x">
                        <div class="quality">CAM</div> <a class="poster" href="/film/us.1r06x"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/b1f45b6d3eaf61e0254e6b42c14c8173.jpg"
                                    alt="Us | Bmovies"> </a> <a class="name" href="/film/us.1r06x">Us</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/l3wz3">
                        <div class="quality">HD</div> <a class="poster" href="/film/a-dogs-way-home.l3wz3"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/6838b3b5bb1fc29f00075b8491326d76.jpg"
                                    alt="A Dog's Way Home | Bmovies"> </a> <a class="name"
                              href="/film/a-dogs-way-home.l3wz3">A Dog's Way Home</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/8n9jn">
                        <div class="status">Eps<span>17</span></div> <a class="poster" href="/film/the-flash-5.8n9jn">
                              <img src="https://static.akacdn.ru/static/images/2018/10/8b2a8c2a39346d88b6dccc0d40cf8562.jpg"
                                    alt="The Flash 5 | Bmovies"> </a> <a class="name" href="/film/the-flash-5.8n9jn">The
                              Flash 5</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/92kv8">
                        <div class="quality">CAM</div> <a class="poster" href="/film/wonder-park.92kv8"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/c10abf874fa004a98303f8d162c31150.jpg"
                                    alt="Wonder Park | Bmovies"> </a> <a class="name"
                              href="/film/wonder-park.92kv8">Wonder Park</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/qk1ov">
                        <div class="quality">CAM</div> <a class="poster" href="/film/captive-state.qk1ov"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/99ecac5a5a86218f115bcde4f606722d.jpg"
                                    alt="Captive State | Bmovies"> </a> <a class="name"
                              href="/film/captive-state.qk1ov">Captive State</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/jjrmn">
                        <div class="quality">HD</div> <a class="poster" href="/film/triple-frontier.jjrmn"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/cf946388f5c3763c191d7b67b3169c2d.jpg"
                                    alt="Triple Frontier | Bmovies"> </a> <a class="name"
                              href="/film/triple-frontier.jjrmn">Triple Frontier</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/kk596">
                        <div class="quality">HD</div> <a class="poster" href="/film/holmes-watson.kk596"> <img
                                    src="https://static.akacdn.ru/static/images/2019/01/53aac5e916e794aa9f7fe6b5affe9b7a.jpg"
                                    alt="Holmes &amp; Watson | Bmovies"> </a> <a class="name"
                              href="/film/holmes-watson.kk596">Holmes &amp; Watson</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/xjy8w">
                        <div class="quality">HD</div> <a class="poster"
                              href="/film/how-to-train-your-dragon-the-hidden-world.xjy8w"> <img
                                    src="https://static.akacdn.ru/static/images/2019/01/0161b2b69724c66a254753b1d07d16b7.jpg"
                                    alt="How to Train Your Dragon: The Hidden World | Bmovies"> </a> <a class="name"
                              href="/film/how-to-train-your-dragon-the-hidden-world.xjy8w">How to Train Your Dragon: The
                              Hidden World</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/v56r7">
                        <div class="quality">TS</div> <a class="poster" href="/film/captain-marvel.v56r7"> <img
                                    src="https://static.akacdn.ru/static/images/2019/03/011aaaeb33e786d043f342e469ac51e0.jpg"
                                    alt="Captain Marvel | Bmovies"> </a> <a class="name"
                              href="/film/captain-marvel.v56r7">Captain Marvel</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/4jpoo">
                        <div class="quality">HD</div> <a class="poster" href="/film/mary-poppins-returns.4jpoo"> <img
                                    src="https://static.akacdn.ru/static/images/2018/12/dca126f1f6ba54455cb0f95fbb0d2619.jpg"
                                    alt="Mary Poppins Returns | Bmovies"> </a> <a class="name"
                              href="/film/mary-poppins-returns.4jpoo">Mary Poppins Returns</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/qk91j">
                        <div class="quality">HD</div> <a class="poster" href="/film/aquaman.qk91j"> <img
                                    src="https://static.akacdn.ru/static/images/2018/12/3ecab82e279d9edb811b4baf4921f1de.jpg"
                                    alt="Aquaman | Bmovies"> </a> <a class="name" href="/film/aquaman.qk91j">Aquaman</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/ooz3y">
                        <div class="quality">CAM</div> <a class="poster" href="/film/run-the-race.ooz3y"> <img
                                    src="https://static.akacdn.ru/static/images/2019/02/8b9a3db3a7b7a521260e101c74af58a9.jpg"
                                    alt="Run the Race | Bmovies"> </a> <a class="name"
                              href="/film/run-the-race.ooz3y">Run the Race</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/6v584">
                        <div class="quality">CAM</div> <a class="poster" href="/film/fighting-with-my-family.6v584">
                              <img src="https://static.akacdn.ru/static/images/2019/03/d07dd82da3ad221ee302d2d5c78b3834.jpg"
                                    alt="Fighting with My Family | Bmovies"> </a> <a class="name"
                              href="/film/fighting-with-my-family.6v584">Fighting with My Family</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/pj0k6">
                        <div class="quality">CAM</div> <a class="poster" href="/film/what-men-want.pj0k6"> <img
                                    src="https://static.akacdn.ru/static/images/2019/02/e526fe1e1613c59e6aead5e091b0b4ea.jpg"
                                    alt="What Men Want | Bmovies"> </a> <a class="name"
                              href="/film/what-men-want.pj0k6">What Men Want</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/92kmq">
                        <div class="quality">HD</div> <a class="poster" href="/film/isnt-it-romantic.92kmq"> <img
                                    src="https://static.akacdn.ru/static/images/2019/02/857ef1818cf21d7e72cd1b7f51873861.jpg"
                                    alt="Isn't It Romantic | Bmovies"> </a> <a class="name"
                              href="/film/isnt-it-romantic.92kmq">Isn't It Romantic</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/rjp5q">
                        <div class="quality">SD</div> <a class="poster" href="/film/alita-battle-angel.rjp5q"> <img
                                    src="https://static.akacdn.ru/static/images/2019/02/e01f2e5c3e56c882bc4adbfc935e1eea.jpg"
                                    alt="Alita: Battle Angel | Bmovies"> </a> <a class="name"
                              href="/film/alita-battle-angel.rjp5q">Alita: Battle Angel</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/6vr99">
                        <div class="quality">HD</div> <a class="poster" href="/film/ralph-breaks-the-internet.6vr99">
                              <img src="https://static.akacdn.ru/static/images/2019/02/f5bfb931eda56146ca3438b4baddd52e.jpg"
                                    alt="Ralph Breaks the Internet | Bmovies"> </a> <a class="name"
                              href="/film/ralph-breaks-the-internet.6vr99">Ralph Breaks the Internet</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/z1mxm">
                        <div class="quality">HDRip</div> <a class="poster" href="/film/happy-death-day-2u.z1mxm"> <img
                                    src="https://static.akacdn.ru/static/images/2019/02/d62cc4862bb9ec893e3c78810712063a.jpg"
                                    alt="Happy Death Day 2U | Bmovies"> </a> <a class="name"
                              href="/film/happy-death-day-2u.z1mxm">Happy Death Day 2U</a>
                  </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs1-8 col-xs-12">
                  <div class="item tooltipstered" data-tip="ajax/film/tooltip/1rkvq">
                        <div class="status">Eps<span>8</span></div> <a class="poster" href="/film/sex-education.1rkvq">
                              <img src="https://static.akacdn.ru/static/images/2019/01/5465fa6adb88215c734c6ee401510bb5.jpg"
                                    alt="Sex Education | Bmovies"> </a> <a class="name"
                              href="/film/sex-education.1rkvq">Sex Education</a>
                  </div>
            </div>
      </div>
</div>

{% endblock %}